.fade-up {
  animation: fade-up 2s forwards ease-in-out;
}

@keyframes fade-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

.pulse {
  animation: pulse 2s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
