.slide-up {
  animation: slide-up 1s forwards ease-in-out;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
}

.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
  to {
    transform: scale(1.1);
  }
}
