@tailwind base;
@tailwind components;
@tailwind utilities;
@import "icons.scss";

@font-face {
  font-family: "Inter";
  font-style: oblique 0deg 20deg;
  font-weight: 100 900;
  font-stretch: 75% 125%;
  src: url("/fonts/inter_variable_slnt\,wght.woff2") format("woff2-variations");
  src: url("/fonts/inter_variable_slnt\,wght.woff2") format("woff2")
    tech("variations");
  font-display: swap;
}

@layer base {
  body {
    @apply bg-white text-dark dark:bg-dark dark:text-gray-100 selection:bg-primary selection:text-white dark:selection:bg-primary-dark;
  }

  h1 {
    font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
    @apply font-bold mb-4;
  }

  h2 {
    font-size: clamp(1rem, 2.5vw + 1rem, 2rem);
  }

  p {
    @apply text-base mb-4;
  }

  a {
    @apply text-primary dark:text-primary-dark underline hover:no-underline underline-offset-[5px];
  }
}
