@layer utilities {
  .icon {
    display: inline-block;
    @apply min-w-4 min-h-4 align-middle;
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: currentColor;
  }

  .icon-facebook {
    mask-image: url(/src/icons/facebook.svg);
  }

  .icon-menu {
    mask-image: url(/src/icons/menu.svg);
  }

  .icon-twitter {
    mask-image: url(/src/icons/twitter.svg);
  }

  .icon-github {
    mask-image: url(/src/icons/github.svg);
  }

  .icon-linkedin {
    mask-image: url(/src/icons/linkedin.svg);
  }

  .icon-link-external {
    mask-image: url(/src/icons/link_external.svg);
  }

  .icon-arrow-up {
    mask-image: url(/src/icons/arrow_up.svg);
  }

  .icon-x {
    mask-image: url(/src/icons/x.svg);
  }

  .icon-circle-half {
    mask-image: url(/src/icons/circle_half.svg);
  }

  .icon-moon-stars {
    mask-image: url(/src//icons/moon_stars.svg);
  }

  .icon-sun {
    mask-image: url(/src/icons/sun.svg);
  }

  .icon-caret-down {
    mask-image: url(/src/icons/caret_down.svg);
  }

  .icon-whatsapp {
    mask-image: url(/src/icons/whatsapp.svg);
  }

  .icon-envelope {
    mask-image: url(/src/icons/envelope.svg);
  }

  .icon-telephone {
    mask-image: url(/src/icons/telephone.svg);
  }

  .icon-chevron-right {
    mask-image: url(/src/icons/chevron_right.svg);
  }
}
