/* stylelint-disable stylistic/number-leading-zero */
@mixin linearGradient($stop1, $stop2, $deg: 90) {
  background-image: linear-gradient($deg + deg, $stop1, $stop2);
}

.bg-grd-blue {
  @include linearGradient($blue, $blue-100);
}

.bg-grd-blue-red {
  @include linearGradient($blue, $red);
}

*::selection {
  color: #fff;
  background-color: $blue;
}

main {
  margin-top: 6rem;
}

h1 {
  margin-bottom: 1.5rem;
  color: var(--bs-primary);
}

h2 {
  color: $success;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.navbar-nav {
  .nav-link {
    @include media-breakpoint-down(lg) {
      &:hover,
      &.active {
        @include linearGradient($blue, $blue-100);
        color: #fff !important;
      }
    }

    @include media-breakpoint-up(lg) {
      position: relative;
      margin-block: 3px;

      &:hover {
        // color: #fff;
        // background-color: var(--bs-primary);
        &::after {
          visibility: visible;
          transform: scale(1);
          transform-origin: center;
        }
      }

      &.active {
        &::after {
          transform: scale(1);
          visibility: visible;
        }
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        content: "";
        background-color: var(--bs-primary);
        transition: transform 0.4s ease-out;
        transform: scale(0);
      }
    }
  }
}

.card {
  place-items: center;

  @include media-breakpoint-up(md) {
    min-block-size: 300px;
  }

  &:hover {
    box-shadow: 3px 3px 3px var(--bs-card-border-color);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.02);
  }

  &-img {
    width: 20%;
    padding-block: 10px;
    margin-inline: auto;
  }
}

.text-gradient {
  color: transparent;
  background-image: linear-gradient(90deg, $blue, $red);
  background-clip: text;
}

.scroll-to-top {
  --size: 48px;

  right: 2rem;
  bottom: 4rem;
  width: var(--size);
  height: var(--size);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: scale(0);

  &.showing {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

.qualities {
  > .row {
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    &:nth-child(even) {
      @include media-breakpoint-up(md) {
        flex-direction: row-reverse;
      }
    }

    > .col {
      margin: auto;
    }
  }
}

.loading {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: 3px solid transparent;
    border-top-color: $green;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
  }
}
