---
import Layout from "@layouts/layout.astro";

const isDev = import.meta.env.DEV;
const title = "Page Not Found";
---

<Layout pageTitle={title}>
  <main
    class="d-flex justify-content-center align-items-center h-100 text-center"
  >
    <div>
      <h1>{title}</h1>
      <p>
        Sorry
        <span role="img" aria-label="pensive emoji"> 😔</span>
        this page is not available.
      </p>
      {
        isDev ? (
          <p>
            Try creating it in <code>src/pages/</code>
          </p>
        ) : null
      }
      <p>
        <a class="btn btn-outline-primary" href="/">Go back to home page</a>
      </p>
    </div>
  </main>
</Layout>
