---
import { Icon } from "astro-icon/components";
import BaseLayout from "@layouts/base_layout.astro";

const title = "About Me";
---

<BaseLayout pageTitle={title}>
  <article>
    <h1 transition:animate="slide">{title}</h1>

    <section class="flex flex-col md:flex-row gap-6">
      <h2 class="w-1/4 shrink-0">Education</h2>
      <div>
        <p>
          I acquired my frontend developer skills through self-teaching. I
          completed and earned a certificate in frontend development from
          <a
            class="inline-flex items-center gap-1 underline-offset-3"
            href="https://www.freecodecamp.org/kenedyolisi"
          >
            Freecodecamp <Icon class="" name="bi:box-arrow-up-right" />
          </a>
        </p>

        <p>
          I also took courses for HTML, CSS, JavaScript, Responsive Web Design,
          and Web Development Fundamentals from
          <a
            class="inline-flex items-center gap-1 underline-offset-2"
            href="https://sololearn.org/kenedyolisi"
          >
            Sololearn <Icon name="bi:box-arrow-up-right" />
          </a> all of which I completed and earned certifications.
        </p>
      </div>
    </section>

    <section class="flex flex-col md:flex-row gap-6 my-3">
      <h2 class="w-1/4 shrink-0">Skills</h2>

      <div>
        <p>
          With a strong foundation in HTML, CSS (SCSS), JavaScript (TypeScript),
          and React, I bring creativity and attention to detail to every project
          I work on. I am dedicated to staying updated with the latest industry
          trends and delivering high-quality solutions to clients.
        </p>
      </div>
    </section>

    <section class="flex flex-col md:flex-row md:gap-6 my-3">
      <h2 class="w-1/4 shrink-0">Interests</h2>

      <div>
        <p>
          When I'm not coding, you'll find me enjoying a game of checkers
          (draughts), watching a movie, listening to my favorite music or
          tending to my garden. I believe that just as a well-maintained garden
          flourishes, so do well-designed websites.
        </p>
        <p>
          I also believe in the power of technology to make a positive impact,
          and I am excited about the prospect of becoming a fullstack developer
          to broaden my skills and contribute even more to the world of web
          development.
        </p>
      </div>
    </section>
  </article>
</BaseLayout>
