---
import BaseLayout from "@layouts/base_layout.astro";

const title = "Blog";
---

<BaseLayout pageTitle={title}>
  <article>
    <h1>{title}</h1>
    <div class="text-center">
      <p class="display-3">Coming soon...</p>
      <div
        class="progress"
        role="progressbar"
        aria-label="Default striped example"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          style="width: 75%"
        >
        </div>
      </div>
    </div>
  </article>
</BaseLayout>
