---
import Layout from "@layouts/layout.astro";

const title = "Blog";
---

<Layout pageTitle={title}>
  <main class="container">
    <h1>{title}</h1>
    <p class="text-6xl">Coming Soon...</p>
  </main>
</Layout>
