---
import Layout from "@layouts/layout.astro";
---

<Layout pageTitle="Contact">
  <main class="container">
    <h1 transition:animate="slide">Get in Touch</h1>

    <p>
      Ready to elevate your web presence? Let's discuss your project and turn it
      into engaging online experiences.
    </p>
    <p>
      Feel free to contact me for inquiries or collaborations through the below
      channels:
    </p>
    <p>
      <a
        class="inline-flex items-center gap-2"
        href="mailto:kenedyolisi@gmail.com"
        aria-label="send kenedy olisi an email"
      >
        <span class="icon icon-envelope"></span>
        kenedyolisi@gmail.com
      </a>
    </p>
    <p>
      <a
        class="inline-flex items-center gap-2"
        href="https://api.whatsapp.com/send?phone=254714221501"
        aria-label="chat with kenedy olisi on whatsapp"
      >
        <span class="icon icon-whatsapp"></span>
        +254 714 221 501
      </a>
    </p>
    <p>
      <a
        class="inline-flex items-center gap-2"
        href="tel:+254714221501"
        aria-label="call kenedy olisi"
      >
        <span class="icon icon-telephone"></span>
        +254 714 221 501
      </a>
    </p>
  </main>
</Layout>
