---
import Icon from "@components/icon.astro";
import Layout from "@layouts/layout.astro";

const title = "Contact";
---

<Layout pageTitle={title}>
  <main>
    <h1 transition:animate="slide">Get in Touch</h1>
    <p>
      Ready to elevate your web presence? Let's discuss your project and turn it
      into engaging online experiences.
    </p>
    <p>
      Feel free to contact me for inquiri es or collaborations through the below
      channels:
    </p>
    <p>
      <a
        class="inline-flex items-center gap-2"
        href="mailto:kenedyolisi@gmail.com"
        aria-label="send kenedy olisi an email"
      >
        <Icon name="envelope" />
        kenedyolisi@gmail.com
      </a>
    </p>
    <p>
      <a
        class="inline-flex items-center gap-2"
        href="https://api.whatsapp.com/send?phone=254714221501"
        aria-label="chat with kenedy olisi on whatsapp"
      >
        <Icon name="whatsapp" />
        +254 714 221 501
      </a>
    </p>
    <p>
      <a
        class="inline-flex items-center gap-2"
        href="tel:+254714221501"
        aria-label="call kenedy olisi"
      >
        <Icon name="phone-alt" />
        +254 714 221 501
      </a>
    </p>
  </main>
</Layout>
