---

---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/logo.svg" />

    <title>Kenedy Olisi</title>
  </head>
  <body>
    <h1>Home Page</h1>
  </body>
</html>
