---
import { Picture } from "astro:assets";
import { siteConfig } from "src/site_config";
import BaseLayout from "@layouts/base_layout.astro";

import heroBg from "@images/hero_bg.png";
---

<BaseLayout
  pageTitle={siteConfig.slogan}
  pageDescription={siteConfig.description}
>
  <article>
    <div
      class="row flex-column text-center flex-lg-row align-items-lg-center text-lg-start"
    >
      <div class="col">
        <h1 class="display-3 fw-bold lh-1">Hello, my name is Kenedy Olisi</h1>
        <p class="mt-4 fs-3 fw-medium lh-1 text-success">
          I am passionate Front-end Developer currently based in Kenya.
        </p>
        <p class="fs-5">
          I specialize in creating
          <strong>sleek</strong> and
          <strong>user-friendly</strong>
          web apps that help businesses succeed online. Have a design mockup that
          you need to turn into{" "}
          <strong class="fw-semibold">blazing-fast</strong>,{" "}
          <strong class="fw-semibold">scalable</strong>,{" "}
          <strong class="fw-semibold">dynamic</strong>{" "}web application that
          guarantees <strong class="fw-semibold">delightful</strong>{
            " "
          }user-experience? Let's collaborate and bring your web ideas to life!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <p>
            <a class="btn btn-outline-primary btn-lg" href="contact">
              Connect
            </a>
          </p>
        </div>
      </div>
      <div class="col col-lg-4">
        <Picture
          class="img-fluid object-fit-cover rounded-3"
          src={heroBg}
          alt="kenedy olisi"
          formats={["avif", "webp"]}
        />
      </div>
    </div>
  </article>
</BaseLayout>
