---
import BaseLayout from "@layouts/base_layout.astro";
import siteConfig from "src/site_config";
import { Picture } from "astro:assets";

import heroBg from "@images/hero_bg.png";
---

<BaseLayout pageTitle={siteConfig.slogan}>
  <article>
    <div
      class="row flex-column text-center flex-lg-row align-items-lg-center text-lg-start"
    >
      <div class="col">
        <h1 class="display-3 fw-bold lh-1">Hello, my name is Kenedy Olisi</h1>
        <p class="mt-4 fs-3 fw-medium lh-1 text-success">
          I am Front-end Developer currently based in Kenya.
        </p>
        <p class="fs-5">
          Want to turn your design mockups into{" "}
          <strong class="fw-semibold">beautiful</strong>,{" "}
          <strong class="fw-semibold">intuitive</strong>,{" "}
          <strong class="fw-semibold">blazing-fast</strong> websites or web
          applications that guarantees delightful user-experience? Tap or click on
          the button below to get in touch.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <p>
            <a class="btn btn-outline-primary btn-lg" href="contact">
              Let's do this!
            </a>
          </p>
        </div>
      </div>
      <div class="col col-lg-4">
        <Picture
          class="img-fluid object-fit-cover rounded-3"
          src={heroBg}
          alt="kenedy olisi"
          formats={["avif", "webp"]}
        />
      </div>
    </div>
  </article>
</BaseLayout>
