---
import { Picture } from "astro:assets";
import { siteConfig } from "src/site_config";
import BaseLayout from "@layouts/base_layout.astro";

import heroBg from "@images/hero_bg.png";
---

<BaseLayout
  pageTitle={siteConfig.slogan}
  pageDescription={siteConfig.description}
>
  <article>
    <div class="flex flex-col md:flex-row items-center gap-6">
      <div class="w-full md:w-2/3 md:shrink-0">
        <h1 class="">Hi 👋, I am Kenedy Olisi</h1>
        <p class="text-2xl text-success dark:text-success-dark">
          I am passionate Front-end Developer currently based in Kenya.
        </p>
        <p class="text-lg">
          I specialize in creating
          <strong>sleek</strong> and
          <strong>user-friendly</strong>
          web apps that help businesses succeed online. Have a design mockup that
          you need to turn into
          <strong>blazing-fast</strong>,
          <strong class="fw-semibold">scalable</strong>
          <strong class="fw-semibold">dynamic</strong> web application that guarantees
          <strong class="fw-semibold">delightful</strong> user-experience? Let's
          collaborate and bring your web ideas to life!
        </p>

        <p class="grid">
          <a
            class="max-xs:w-full text-center py-3 px-5 xs:mx-auto bg-primary dark:bg-primary-dark text-white dark:text-white no-underline rounded-md active:scale-95"
            href="contact"
          >
            Connect
          </a>
        </p>
      </div>
      <div class="w-full">
        <Picture
          class="mx-auto rounded-lg"
          src={heroBg}
          alt="kenedy olisi"
          formats={["avif", "webp"]}
        />
      </div>
    </div>
  </article>
</BaseLayout>
