---
import BaseLayout from "@layouts/base_layout.astro";

const title = "Why Choose My Services";
---

<BaseLayout pageTitle={title}>
  <article aria-label={title}>
    <h1>{title}?</h1>

    <div class="qualities">
      <section class="row">
        <!-- <div class="col col-4">
          <figure>
            <Picture
              class="object-fit-cover"
              src={rwd}
              alt="responsive web design"
              formats={["avif", "webp"]}
            />
          </figure>
          <figure class="small text-center">
            Image by{" "}
            <a
              href="https://www.freepik.com/free-vector/gradient-responsive-website-design_28389302.htm"
            >
              Freepik
            </a>
          </figure>
        </div> -->

        <div class="col">
          <h2>Responsive Design</h2>
          <p>
            I craft every project with a mobile-first mindset, ensuring a
            seamless user experience across a variety of devices. Responsive
            design is not just a feature; it's a fundamental aspect of my
            development philosophy.
          </p>
        </div>
      </section>
      <section class="row">
        <!-- <div class="col col-4">
          <figure>
            <Picture
              class="object-fit-cover"
              src="../assets/freepik_innovation_concept_illustration.svg"
              alt="innovation concept illustration"
              width={300}
            />
            <figure class="small text-center">
              <a
                href="https://www.freepik.com/free-vector/innovation-concept-illustration_13549606.htm"
                target="_blank"
              >
                Image by storyset
              </a>{" "}
               on Freepik
            </figure>
          </figure>
        </div> -->
        <div class="col">
          <h2>Innovative Approach</h2>

          <p>
            I bring a fresh and innovative approach to every project, ensuring
            that each solution is tailored to meet the unique needs and goals of
            my clients. By staying updated with the latest industry trends and
            technologies, I strive to deliver cutting-edge solutions.
          </p>
        </div>
      </section>
      <section class="row">
        <!-- <div class="col col-4">
          <figure>
            <Picture
              class="object-fit-cover"
              src="../assets/freepik_working_concept_illustration.svg"
              alt="working concept illustration"
            />
            <figure class="small text-center">
              <a
                href="https://www.freepik.com/free-vector/working-concept-illustration_5425967.htm"
              >
                Image by storyset
              </a>{" "}
               on Freepik
            </figure>
          </figure>
        </div> -->
        <div class="col">
          <h2>Tailored Solutions</h2>
          <p>
            Every project is unique, and I take a client-centric approach to
            ensure that the solutions provided align with your specific
            objectives. Tailoring my services to your needs is a cornerstone of
            my development philosophy.
          </p>
          <p>
            Ultimately, client satisfaction is my top priority. I measure
            success not just by the completion of a project but by the
            satisfaction and success of my clients in achieving their goals.
          </p>
        </div>
      </section>
      <section class="row">
        <!-- <div class="col col-4">
          <figure>
            <Picture
              class="object-fit-cover"
              src="../assets/freeepik_scrum_method_concept_illustration.svg"
              alt="scrum method concept illustration"
            />
            <figure class="small text-center">
              <a
                href="https://www.freepik.com/free-vector/scrum-method-concept-illustration_33756670.htm"
              >
                Image by storyset
              </a>{" "}
               on Freepik
            </figure>
          </figure>
        </div> -->
        <div class="col">
          <h2>Agile Methodology</h2>
          <p>
            I embrace an agile development approach, allowing me to adapt to
            changing project requirements and deliver high-quality results
            efficiently. This iterative process ensures collaboration and
            transparency throughout the development lifecycle.
          </p>
        </div>
      </section>
      <section class="row">
        <!-- <div class="col col-4">
          <figure>
            <Picture
              class="object-fit-cover"
              src="../assets/freepik_microsites_concept_illustration.svg"
              alt="microsites concept illustration"
            />
            <figure class="small text-center">
              <a
                href="https://www.freepik.com/free-vector/microsites-concept-illustration_19949560.htm"
              >
                Image by storyset
              </a>{" "}
               on Freepik
            </figure>
          </figure>
        </div> -->
        <div class="col">
          <h2>User-Centric Design</h2>
          <p>
            My design philosophy revolves around creating intuitive and
            user-friendly experiences. I prioritize user-centric design
            principles to ensure that every interaction is seamless and
            enjoyable.
          </p>
        </div>
      </section>
      <section class="row">
        <!-- <div class="col col-4">
          <figure>
            <Picture
              class="object-fit-cover"
              src="../assets/freepik_data_analysis_concept_illustration.svg"
              alt="data analysis concept illustration"
            />
            <figure class="small text-center">
              <a
                href="https://www.freepik.com/free-vector/data-analysis-concept-illustration_21864013.htm"
              >
                Image by storyset
              </a>{" "}
               on Freepik
            </figure>
          </figure>
        </div> -->
        <div class="col">
          <h2>Performance Optimization</h2>
          <p>
            I understand the importance of performance. My optimization
            strategies guarantee fast load times, smooth animations, and an
            overall enhanced user experience.
          </p>
        </div>
      </section>
      <section class="row">
        <!-- <div class="col col-4">
          <figure>
            <Picture
              class="object-fit-cover"
              src="../assets/freepik_people_connecting_puzzle_pieces.svg"
              alt="people connecting puzzle pieces"
            />
            <figure class="small text-center">
              Image by{" "}
              <a
                href="https://www.freepik.com/free-vector/people-connecting-puzzle-pieces-isometric-background_4125460.htm"
              >
                Freepik
              </a>
            </figure>
          </figure>
        </div> -->
        <div class="col">
          <h2>Collaboration and Communication</h2>
          <p>
            Effective communication is the key to successful projects. I
            prioritize open and transparent communication with my clients,
            ensuring that every step of the development process is collaborative
            and aligned with client's vision vision.
          </p>
          <p>
            I thrive on collaborative problem-solving. Whether it's overcoming
            challenges during development or brainstorming creative solutions, I
            actively involve clients in the decision-making process.
          </p>
        </div>
      </section>
      <section class="row">
        <!-- <div class="col col-4">
          <figure>
            <Picture
              class="object-fit-cover"
              src="../assets/freepik_mobile_phone_desktop_app_development.svg"
              alt="app development"
            />
            <figure class="small text-center">
              Image by{" "}
              <a
                href="https://www.freepik.com/free-vector/mobile-phone-desktop-app-development_10504573.htm"
              >
                Freepik
              </a>
            </figure>
          </figure>
        </div> -->
        <div class="col">
          <h2>Technology Stack</h2>
          <p>
            With expertise in frontend development technologies i.e.{" "}
            <strong>GatsbyJS</strong>, <strong>ReactJS</strong>,{" "}
            <strong>Bootstrap</strong>, <strong>TypeScript</strong>,{" "}
            <strong>SCSS</strong>, and <strong>HTML5</strong>, I create visually
            stunning and highly interactive user interfaces. Your web presence
            will not only be functional but also aesthetically pleasing.
          </p>
        </div>
      </section>
      <section class="row">
        <!-- <div class="col col-4">
          <figure>
            <Picture
              class="object-fit-cover"
              src="../assets/freepik_knowledge_concept_illustration.svg"
              alt="knowledge concept illustration"
            />
            <figure class="small text-center">
              <a
                href="https://www.freepik.com/free-vector/knowledge-concept-illustration_9793214.htm"
              >
                Image by storyset
              </a>{" "}
               on Freepik
            </figure>
          </figure>
        </div> -->
        <div class="col">
          <h2>Continuous Learning</h2>
          <p>
            The tech landscape is dynamic, and I thrive on continuous learning.
            Staying updated with the latest trends and technologies allows me to
            provide clients with the most up-to-date solutions.
          </p>
        </div>
      </section>
    </div>
  </article>
</BaseLayout>
