---
import BaseLayout from "@layouts/base_layout.astro";

export const prerender = true;

const title = "What People are Saying";
---

<BaseLayout pageTitle={title}>
  <article>
    <h1 transition:animate="slide">{title}</h1>
  </article>
</BaseLayout>
