---
import SocialLinks from "@components/social_links.astro";
---

<footer class="mt-5 bg-body-tertiary">
  <div class="container">
    <div class="row flex-column flex-md-row align-items-center py-4 gap-2">
      <div class="col">
        <small>
          ©{new Date().getFullYear()} Kenedy Olisi. All rights reserved.
        </small>
      </div>
      <SocialLinks />
    </div>
  </div>
</footer>
