---
const navLinks = ["home","about","blog"]
---

<header>
 <nav>
        <ul>
          {navLinks.map((link)=>{return <li><a href={link==="home"?"/":link} class="nav-links">{link}</a></li>})}         
                  
        </ul>
  </nav>
</header>
