---
import ThemeMenu from "@components/theme_menu.astro";
import logo from "@images/logo.svg";
import Dropdown from "@components/dropdown.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const navLinks = [
  "about",
  "services",
  "projects",
  // "testimonials",
  "qualities",
  "blog",
  "contact",
];
---

<a
  class="sr-only mt-2 mx-auto py-2 px-4 text-white bg-primary rounded-2"
  href="#main-content">Skip to main content</a
>

<header
  class="fixed top-0 z-10 flex justify-between items-center gap-3 w-full py-3 px-5 bg-white dark:bg-dark"
>
  <a href="/">
    <Image src={logo} alt="logo" width={48} format="svg" />
  </a>

  <div
    class={`
    fixed md:static top-0 right-0 bottom-0
    flex flex-col md:flex-row md:flex-grow md:justify-between md:items-center gap-4
    w-full xs:w-3/5 md:w-auto
    py-3 px-5 md:p-0 
    bg-white dark:bg-dark md:bg-transparent
    shadow-2xl
    md:shadow-none
    translate-x-full
    md:translate-x-0
    transition-transform
    duration-300
    `}
    id="offcanvas"
  >
    <div class="flex justify-between items-center md:hidden">
      <a href="/" class="">
        <Image src={logo} alt="logo" width={48} format="svg" />
      </a>
      <button
        class="h-fit p-1 border rounded-md hover:bg-danger dark:hover:bg-danger-dark hover:text-white"
        data-dismiss="offcanvas"
        type="button"
      >
        <Icon name="x" size={30} />
      </button>
    </div>
    <nav>
      <ul class="flex flex-col md:flex-row gap-1">
        {
          navLinks.map((link) => {
            return (
              <li class="nav-item">
                <a
                  class:list={[
                    "nav-link",

                    {
                      active: Astro.url.pathname.startsWith(`/${link}`),
                    },
                  ]}
                  href={`/${link === "home" ? "" : link}`}
                >
                  {link}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>

    <ThemeMenu client:only />
    <!-- <Dropdown/> -->
  </div>
  <button
    class="h-fit p-2 md:hidden border rounded-md"
    data-toggle="offcanvas"
    type="button"
    aria-label="toggle navigation"
  >
    <Icon name="menu" size={25} />
  </button>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const offcanvas = document.getElementById("offcanvas");

    const toggleOffcanvasBtn = document?.querySelector(
      "[data-toggle='offcanvas']"
    );
    toggleOffcanvasBtn?.addEventListener("click", () => {
      offcanvas?.classList.toggle("translate-x-full");
    });

    const closeButton = offcanvas?.querySelector("[data-dismiss='offcanvas']");
    closeButton?.addEventListener("click", () => {
      offcanvas?.classList.add("translate-x-full");
    });
  });
</script>
