---
import { images } from "@data/images";
import { type Project } from "@data/projects";
import { Picture } from "astro:assets";
import { slugify } from "src/utils";

interface Props {
  project: Project;
}
const { project } = Astro.props;
const { image, title } = project;
---

<li class="border rounded-lg">
  <a href={`showcase/${slugify(project.title)}`}>
    <Picture
      class="rounded-t-lg aspect-video"
      src={images[image]()}
      alt={title}
    />
  </a>
</li>
