---
import { Image } from "astro:assets";

interface Props {
  cover: ImageMetadata;
  desc: string;
  url: string;
}

const { cover, desc, url } = Astro.props;
---

<div class="col text-center border border-2 rounded-2 p-0 mx-lg-3">
  <figure class="figure">
    <Image
      class="figure-image object-fit-cover img-fluid"
      src={cover}
      alt={desc}
    />
    <figcaption class="figure-caption">
      {desc}
    </figcaption>
  </figure>
  <a class="btn btn-primary m-3" href={url}>Go to project</a>
</div>
