---
import { Icon } from "astro-icon/components";
---

<button
  class="fixed right-6 bottom-10 p-3 bg-primary text-white rounded-full invisible"
  id="scroll-to-top"
  type="button"
  title="scroll to top"
>
  <Icon name="arrow_up" />
</button>

<script>
  document.addEventListener("astro:page-load", () => {
    const scrollTopBtn = document.getElementById(
      "scroll-to-top"
    ) as HTMLButtonElement;

    scrollTopBtn?.addEventListener("click", () => {
      scrollTo({ top: 0, behavior: "smooth" });
    });

    let previousScrollY = scrollY;

    window.addEventListener("scroll", () => {
      // Get the current scroll position
      const currentScrollY = scrollY;

      if (currentScrollY > previousScrollY || currentScrollY < 100) {
        // Hide button when user is scrolling down or has not scroll more than
        // 100px of the screen
        scrollTopBtn.classList.add("animate-zoom-out", "invisible");
        scrollTopBtn.classList.remove("animate-zoom-in");
      } else {
        // Show button when user is scrolling up
        scrollTopBtn?.classList.remove("invisible", "animate-zoom-out");
        scrollTopBtn.classList.add("animate-zoom-in");
      }

      // Update previous scroll position
      previousScrollY = currentScrollY;
    });
  });
</script>
