---
import Icon from "@components/icon.astro";

const socialPlatforms = [
  { platform: "github", icon: "github" },
  { platform: "linkedin", icon: "linkedin" },
  { platform: "twitter", icon: "twitter-x" },
  { platform: "facebook", icon: "facebook" },
];
---

<nav class="flex justify-center md:justify-end gap-4">
  {
    socialPlatforms.map((link) => (
      <a
        class="p-2 hover:bg-primary dark:hover:bg-primary-dark hover:text-white rounded-md "
        href={`https://${link.platform}.com/${
          link.platform === "linkedin" ? "in/" : ""
        }kenedyolisi`}
      >
        <Icon name={link.icon} width={20} />
      </a>
    ))
  }
</nav>
