---
import { Icon } from "astro-icon/components";

const socialLinks = [
  { platform: "github", icon: "bi:github" },
  { platform: "linkedin", icon: "bi:linkedin" },
  { platform: "twitter", icon: "bi:twitter-x" },
  { platform: "facebook", icon: "bi:facebook" },
];
---

<nav class="flex justify-center md:justify-end gap-4 md:">
  {
    socialLinks.map((link) => (
      <a
        class="p-2 text-primary"
        href={`https://${link.platform}.com/${
          link.platform === "linkedin" ? "in/" : ""
        }kenedyolisi`}
      >
        <Icon name={link.icon} size={20}/>
      </a>
    ))
  }
</nav>
