---
import "@styles/global.scss";

import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import ScrollTop from "@components/scroll_top.astro";
import siteConfig from "src/site_config";
import { ViewTransitions } from "astro:transitions";

const { pageTitle } = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <meta name="theme-color" content="#106cfe" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#106cfe"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#1e2832"
    />

    <title>{`${pageTitle} | ${siteConfig.author}`}</title>

    <link rel="icon" type="image/svg+xml" href="/logo.svg" />

    {/* Google tag (gtag.js) */}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HKMD2TMJCZ"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-HKMD2TMJCZ");
    </script>
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <Header />
      <main class="container flex-grow-1" id="main-content">
        <slot />
        <ScrollTop />
      </main>
      <Footer />
    </div>

    <script>
      import "bootstrap/dist/js/bootstrap.bundle";
    </script>
  </body>
</html>
