---
import "@styles/global.scss";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import { ViewTransitions } from "astro:transitions";
import siteConfig from "src/site_config";

const { pageTitle } = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />

    <title>{`${siteConfig.author} | ${pageTitle}`}</title>

    <link rel="icon" type="image/svg+xml" href="/logo.svg" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MH3D32HR13"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-MH3D32HR13");
    </script>
  </head>

  <body>
    <div class="root">
      <Header />
      <main class="container" id="main-content"><slot /></main>
      <Footer />
    </div>
    <script>
      import "bootstrap/dist/js/bootstrap.bundle";
    </script>
  </body>
</html>
