---
import "@styles/global.scss";

import { ViewTransitions } from "astro:transitions";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import ScrollTopBtn from "@components/scroll_top.astro";

interface Props {
  pageTitle: string;
  pageDescription?: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#106cfe" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#106cfe"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#1e2832"
    />

    <ViewTransitions />

    {pageDescription && <meta name="description" content={pageDescription} />}

    <title>{`${pageTitle} | Kenedy Olisi`}</title>

    <link rel="apple-touch-icon" href="/apple_touch_icon.png" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/logo.svg" sizes="any" type="image/svg+xml" />

    {/* Google tag (gtag.js) */}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HKMD2TMJCZ"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-HKMD2TMJCZ");
    </script>
    {/* End of Google tag */}
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <Header />
      <main class="container flex-grow-1" id="main-content">
        <slot />
        <ScrollTopBtn />
      </main>
      <Footer />
    </div>

    <script>
      // import "bootstrap/js/dist/alert";
      import "bootstrap/js/dist/button";
      // import "bootstrap/js/dist/carousel";
      import "bootstrap/js/dist/dropdown";
      // import "bootstrap/js/dist/modal";
      import "bootstrap/js/dist/offcanvas";
      // import "bootstrap/js/dist/scrollspy";
      // import "bootstrap/js/dist/tab";
      // import "bootstrap/js/dist/toast";
      // import "bootstrap/js/dist/tooltip";
    </script>
  </body>
</html>
