---
import "@styles/global.scss";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import siteConfig from "src/site_config";
import { injectSpeedInsights } from "@vercel/speed-insights";
import { ViewTransitions } from "astro:transitions";
import { ScrollToTop } from "@components/scroll_top.tsx";

const { pageTitle } = Astro.props;
injectSpeedInsights({});
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />

    <title>{`${siteConfig.author} | ${pageTitle}`}</title>

    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <Header />
      <main class="container flex-grow-1" id="main-content">
        <slot />
        <ScrollToTop client:visible />
      </main>
      <Footer />
    </div>
    <script>
      import "bootstrap/dist/js/bootstrap.bundle";
    </script>
  </body>
</html>
