---
import "@styles/global.scss";

import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import ScrollTop from "@components/scroll_top.astro";
import siteConfig from "src/site_config";
import { injectSpeedInsights } from "@vercel/speed-insights";
import { ViewTransitions } from "astro:transitions";

const { pageTitle } = Astro.props;
injectSpeedInsights({});
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />

    <title>{`${siteConfig.author} | ${pageTitle}`}</title>

    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <Header />
      <main class="container flex-grow-1" id="main-content">
        <slot />
        <ScrollTop />
      </main>
      <Footer />
    </div>
    <script>
      import "bootstrap/dist/js/bootstrap.bundle";
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HKMD2TMJCZ"
    ></script>
    <script>
      // @ts-ignore
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        // @ts-ignore
        dataLayer.push(arguments);
      }
      // @ts-ignore
      gtag("js", new Date());
      // @ts-ignore
      gtag("config", "G-HKMD2TMJCZ");
    </script>
  </body>
</html>
