---
import "@styles/index.scss";

import { ViewTransitions } from "astro:transitions";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import ScrollTopButton from "@components/scroll_top_button";

interface Props {
  pageTitle: string;
  pageDescription?: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<html lang="en" dir="ltr" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#106cfe"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#1e2832"
    />

    <ViewTransitions />

    {pageDescription && <meta name="description" content={pageDescription} />}

    <title>{`${pageTitle} | Kenedy Olisi`}</title>

    <link rel="apple-touch-icon" href="/apple_touch_icon.png" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />

    {/* Google tag (gtag.js) */}
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-HKMD2TMJCZ"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // eslint-disable-next-line no-undef
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-HKMD2TMJCZ");
    </script>
    {/* End of Google tag */}
  </head>

  <body>
    <div class="flex flex-col min-h-screen">
      <Header />
      <main class="grow mt-20 px-5 md:px-10 lg:px-20" id="main-content">
        <slot />
        <!-- <ScrollTopBtn /> -->
        <ScrollTopButton client:visible />
      </main>
      <Footer />
    </div>
  </body>
</html>
