---
import "@styles/global.css";

import PageFooter from "@components/page_footer.astro";
import PageHeader from "@components/page_header.svelte";
import ScrollTopButton from "@components/scroll_top_button.svelte";
import SkipNavLink from "@components/skip_nav_link.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  pageTitle: string;
  pageDescription?: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<html lang="en" dir="ltr" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#106cfe"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#1e2832"
    />

    <ViewTransitions />

    {pageDescription && <meta name="description" content={pageDescription} />}

    <title>{`${pageTitle} | Kenedy Olisi`}</title>

    <link rel="apple-touch-icon" href="/apple_touch_icon.png" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />

    <script is:inline>
      if (
        localStorage.getItem("theme") === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <script>
      document.addEventListener("astro:after-swap", () => {
        if (
          localStorage.getItem("theme") === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      });
    </script>
    {/* Google tag (gtag.js) */}
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-HKMD2TMJCZ"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // eslint-disable-next-line no-undef
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-HKMD2TMJCZ");
    </script>
    {/* End of Google tag */}
  </head>

  <body
    class="bg-white text-dark dark:bg-dark dark:text-gray-100 selection:bg-primary selection:text-white dark:selection:bg-primary-dark"
  >
    <SkipNavLink />
    <div class="flex flex-col min-h-dvh">
      <PageHeader client:only="svelte" />

      <div class="grow">
        <slot />
        <ScrollTopButton client:load />
      </div>

      <PageFooter />
    </div>
    <script>
      document.querySelector("main")?.setAttribute("id", "main-content");
    </script>
  </body>
</html>
